[Desktop Entry]
Version=1.0
Type=Application
Name=Parametr
Name[uz]=Parametr
Comment=Tizim sozlamalari
Comment[uz]=Tizim sozlamalari
Exec=gnome-control-center
Icon=preferences-system
Terminal=false
Categories=Settings;
Keywords=sozlama;parametr;settings;
