[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
Comment=Buyruqlar qatori (CMD/PowerShell o'rnida)
Exec=xfce4-terminal
Icon=utilities-terminal
Terminal=false
Categories=System;
